@page "/settings"
@using NewsAggregator.Data
@using Microsoft.Data.Sqlite

<PageTitle>Настроки ленты</PageTitle>

<h3>Поставьте галочку, чтобы показывать ресурс:</h3>

@foreach (var source in sources)
{
    <ul>
        <li>
        @source.Title
        <input type="checkbox" checked="@source.IsPicked" @onchange="@(() => { changePicked(source); } )"/>
        </li>
    </ul>
}


@code {
    List<Source> sources = new List<Source>();

    public void ShowSources()
    {
        sources.Clear();

        using (var db = new ApplicationContext())
        {
            sources = db.Sources.ToList();
        }
    }

    public void changePicked(Source source)
    {
        using (var db = new ApplicationContext())
        {
            foreach (var s in sources)
            {
                if (s.Id == source.Id)
                {
                    s.IsPicked = !source.IsPicked;
                    db.Sources.Update(s);
                    db.SaveChanges();
                }
            }
        }
        ShowSources();
    }

    protected override void OnInitialized()
    {
        ShowSources();
    }
}